{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load verbose_names %}
{% load thumbnail %}
{% load cache %}
{% cache 20 index_page %}
  
 

  {% for post in page_obj %} 
      <tr>
        <td>
          {{ post.pub_date|date:"d.m.Y" }}
        </td>
      </tr>

      <td>{% get_verbose_field_name post 'status' %}: <b>{{ post.status|linebreaksbr }}</b></td>
     

      {% if not forloop.last %}
      <hr>
      {% endif %}
  {% endfor %}
 {% endcache %} 
  

{% endblock %} 