{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load verbose_names %}
{% load thumbnail %}
{% load cache %}
{% cache 20 index_page %}

<table>
  <tr style="background-color:darkgray">
    <td>{{ pub_date_field_title }}</td>
    <td>{{ user_field_title }}</td>
    <td>{{ status_field_title }}</td>
    <td>{{ type_field_title }}</td>
    <td>{{ category_field_title }}</td>
    <td>{{ subcategory_field_title }}</td>
    <td>{{ amount_field_title }}</td>
    <td>{{ comment_field_title }}</td>
  </tr>

  {% for post in page_obj %} 
  <tr>
    <td>{{ post.pub_date|date:"d.m.Y" }}</td>
    <td>{{ post.user }}</td>
    <td>{{ post.status }}</td>
    <td>{{ post.type }}</td>
    <td>{{ post.category }}</td>
    <td>{{ post.subcategory }}</td>
    <td>{{ post.amount }}</td>
    <td>{{ post.comment }}</td>
  </tr>
  {% endfor %}

</table>
{% endcache %} 
  

{% endblock %} 